    pre b {
        color : rgb(106, 106, 231);
    }
    pre span.comment {
        color: green;
    }
    
    pre.html span {
        color: black;
    }
    pre.html span.css {
        color: rgb(168, 110, 2);
    }

    pre.css {
        color : black;
    }
    pre.css span.rule {
        color: rgb(168, 110, 2);
    }